@import url('https://fonts.googleapis.com/css2?family=Stardos+Stencil&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique&display=swap');

#content-history {
  margin: 5vh;
}

#content-history h1 {
  font-family: 'Stardos Stencil', cursive;
  font-size: 2em;
  letter-spacing: 0.3rem;
  margin-bottom: 3vh;
  text-align: center;
}

#content-body {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  margin: auto;
  padding: 5vh 2vw;
  width: 85%;
}

#dates {
  display: flex;
  justify-content: space-evenly;
  margin: auto;
  margin-top: 15vh;
  width: 85%;
}

#dates div {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 1.2em;
  height: 15vh;
  justify-content: space-evenly;
  padding: 4vh 1vw;
}

#buttons {
  display: flex;
  justify-content: space-evenly;
  margin: auto;
  margin-top: 5vh;
  width: 45%;
}

.button {
  background-color: rgba(0, 0, 0, 0.774);
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  border: none;
  border-radius: 50px;
  color: white;
  font-family: 'Bebas Neue', cursive;
  font-size: medium;
  font-weight: 700;
  letter-spacing: 0.2rem;
  margin: auto;
  padding: 2vh;
}

#history-title {
  font-size: 2em;
  text-align: center;
  margin: 5vh auto;
}

#updates {
  display: flex;
  flex-wrap: wrap;
}

.single-update {
  align-items: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  display: flex;
  flex-direction: column;
  height: 55vh;
  justify-content: space-evenly;
  margin: 2vh auto;
  padding: 5vh 4vw;
  width: 45vw;
}

.single-update h3 {
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 0.2rem;
  text-align: center;
  font-size: large;
  margin-bottom: 3vh;
}

.back-button {
  background-color: rgba(0, 0, 0, 0.774);
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  border: none;
  border-radius: 50px;
  color: white;
  font-family: 'Bebas Neue', cursive;
  font-size: small;
  font-weight: 700;
  letter-spacing: 0.2rem;
  margin: auto;
  margin-top: 2vh;
  padding: 1.5vh;
}

.history-dates {
  margin-top: 2vh;
  text-align: center;
}
