@import url('https://fonts.googleapis.com/css2?family=Stardos+Stencil&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

#delete-button {
  background-color: rgba(0, 0, 0, 0.699);
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  border: none;
  border-radius: 50px;
  color: white;
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 0.2rem;
  font-size: large;
  font-weight: 700;
  margin: auto;
  padding: 2vh;
  position: fixed;
}

#home h1 {
  font-family: 'Stardos Stencil', cursive;
  letter-spacing: 0.2rem;
  font-size: 2.5em;
  text-align: center;
  margin-bottom: 0;
  margin-top: 2vh;
}

#home-contents {
  margin-top: 8vh;
  display: flex;
  flex-wrap: wrap;
}

.home-single-content {
  align-items: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  display: flex;
  flex-direction: column;
  height: 55vh;
  justify-content: space-evenly;
  margin: 2vh auto;
  padding: 5vh 4vw;
  width: 45vw;
}

.home-single-content h2 {
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 0.2rem;
  text-align: center;
  font-size: x-large;
  margin-bottom: 3vh;
}

.home-single-content p {
  font-family: 'Bebas Neue', cursive;
  height: 20vh;
  letter-spacing: 0.1rem;
  font-size: larger;
  overflow: auto;
  padding-bottom: 2vh;
  text-align: justify;
}

.home-single-content div {
  display: flex;
  margin: auto;
  width: 60%;
}

.home-button {
  background-color: rgba(0, 0, 0, 0.774);
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  border: none;
  border-radius: 50px;
  color: white;
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 0.2rem;
  font-size: medium;
  font-weight: 700;
  margin: auto;
  padding: 1.5vh;
}

label {
  display: flex;
  font-family: 'Bebas Neue', cursive;
  height: 2vh;
  justify-content: space-evenly;
  letter-spacing: 0.2rem;
  font-size: medium;
  width: 50%;
}

.checkebox {
  box-shadow: rgba(11, 11, 19, 0.712) 0px 0px 0px 2px, rgb(141, 141, 141) 0px 0px 0px 4px, rgb(247, 244, 231) 0px 0px 0px 6px, rgb(31, 29, 28) 0px 0px 0px 8px, rgb(216, 206, 206) 0px 0px 0px 10px;
  height: 1vh;
  width: 1vh;
}

.checkebox:checked {
  background-color: rgb(200, 27, 206);
}
